body{
    margin:0;
    font-family: Arial, sans-serif;
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e90ff;
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px;
    background:#f2f2f2;
}

section{
    padding:50px;
    text-align:center;
}

.skill-box{
    display:flex;
    justify-content:center;
    gap:20px;
}

.skill-box div{
    background:#1e90ff;
    color:white;
    padding:15px;
    border-radius:8px;
}

.project-card{
    background:#e6e6e6;
    padding:20px;
    margin:20px auto;
    width:60%;
    border-radius:8px;
}

button{
    padding:10px 20px;
    background:#1e90ff;
    color:white;
    border:none;
    cursor:pointer;
}